<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="primary" id="texto">
    <ion-label>Completar Datos Acceso</ion-label>
  </ion-item>
  <form [formGroup]="registerForm" novalidate>
    <ion-list class="ion-padding">
      <ion-item class="ion-padding">
        <ion-label position="floating">Email</ion-label>
        <ion-input
          formControlName="userEmail"
          type="email"
          autocapitalize="off"
          autocomplete="off"
          autocorrect="off"
        ></ion-input>
      </ion-item>

      <ion-item *ngIf="email.invalid && email.touched">
        <ion-label text-wrap color="danger">
          {{ getErrorMessage() }}
        </ion-label>
      </ion-item>

      <ion-item class="ion-padding">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="userPassword" type="password"></ion-input>
      </ion-item>
      <!-- CONTROL ERROR -->
      <ion-item *ngIf="password.invalid && password.touched">
        <ion-label text-wrap color="danger">
          {{ getErrorPassword() }}
        </ion-label>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button
        expand="block"
        class="ion-no-margin"
        type="submit"
        color="primary"
        (click)="onRegister()"
        [disabled]="registerForm.invalid"
        >Registrarse</ion-button
      >
    </div>
  </form>
  <ion-row>
    <ion-col id="pregunta">
      <p routerLink="/home" id="link">Ya tienes tu cuenta? Logueate!!</p>
    </ion-col>
  </ion-row>
</ion-content>
